{{define "yield"}}
<h2>Your question</h2>

<div class=answer>Your Answer</div>

<h2>Your another Question</h2>

<div class=answer>Your answer</div>

<style>

    h2 {}

    .answer {} /*Style the answer as you wish*/

</style>
{{end}}